.list {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);

    margin-bottom: 10%;
  }