.container {
    padding: 0;
    margin: auto;
  }



  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    font-size: 50px;
    padding: 50% 0 60% 0;

  }